/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

p {
    text-align: center;
    color: #555;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    background: #fff;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    max-width: 500px;
}

li:hover {
    transform: scale(1.05);
}

a {
    text-decoration: none;
    color: #3498db;
    display: inline-block;
    margin: 5px 0;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #2c3e50;
}

form {
    text-align: center;
    margin: 20px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin: 10px 0 5px;
    text-align: left;
}

input, select, button {
    margin: 5px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-top: 20px;
}

button:hover {
    background-color: #2980b9;
}

/* Navigation Bar Styles */
nav {
    background-color: #3498db;
    color: black;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: #2980b9;
    color: white;
    border-radius: 5px;
}

/* Additional Styles for Improved Usability */
.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group input,
.form-group select {
    width: calc(100% - 10px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}
